:root {
    --gray: #4a5568;
    --semi-gray : #6C757D;
}



body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;;
    text-align: justify;
    color: #F8F9FA;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

     .navbar {
        background: white;
        height: 70px;
        padding: 0 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0   2px 4px 0   rgba(1, 1, 1, 0.1);
    }

    .nav {
        display: flex;
        gap: 30px;
    }

    .nav > p {
        color: black;
        font-size: small;
        font-weight: 18px;
    }

    .navbar > h1 {
        font-family: 'Lato', sans-serif;
        font-size: 700;
        font-weight: bolder;
    }

    .hero-container {
        display: flex;
        height: 450px;
        padding: 0 10%;
        background-color: #FBFBFB;
        box-shadow: 0   2px 4px 0   rgba(1, 1, 1, 0.1);
    }

    .hero-container > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .hero-container h1 {
        font-size: 60px;
        width: 360px;
        margin: 20px 0;
        font-family: 'Poppins', sans-serif;
        color: black;
    }

    .hero-container p {
        font-size: 30px;
        color: var(--gray);
        font-family: 'Poppins', sans-serif;
    }


    .hero-container > img {
        width: 50%;
        height: 323px;
        align-self: center;
    }

    .content-container {
        min-height: 400px;
        margin: 40px 0;
        padding: 0 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    
    .content-container .card {
        height: 100%;
        background-color: rgb(255, 255, 255);
    }

    .card {
        box-shadow: 0   4px 8px 0   rgba(1, 1, 1, 0.1);
        transform: 0.3s;
    }

    .card:hover {
        box-shadow: 0   4px 8px 0   rgba(1, 1, 1, 0.2);
        cursor: pointer;
    }

    .card > img {
        object-fit: cover;
        height: 240px;
        width: 100%;
    }

    .card > .card-body {
        padding: 20px;
    }

    .card p {
        font-size: 12px;
        color: var(--semi-gray);
        margin: 0 16px 0 0;
    }

    .card h3 {
        color: var(--gray);
        font-size: 18px;
        font-weight: bold;
    }

    .card h1 {
        color: var(--semi-gray);
        font-size: 12px;
        font-weight: lighter;
    }

    .card > .card-footer {
        padding: 5px 20px;
    }


    footer {
        background: #212529;
        font-family: 'Poppins', sans-serif;
        padding: 40px 0 0 0;
        color: #FBFBFB;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-content > h3 {
        font-size: 1.8rem;
        font-weight: 400px;
        text-transform: capitalize;
        line-height: 3rem;
    }

    .footer-content > p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }

    .socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }

    .socials li {
        margin: 0 10px;
    }

    .socials a {
        text-decoration: none;
        color: #FFFF;
    
    }

    .socials a i {
        font-size: 1.1rem;
        transition: color .4s ease;
    }

    .socials a:hover {
        color: aqua;
    }

    .footer-buttom {
        background: #cecece;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .footer-buttom > p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        text-decoration: white;
    }

    .footer-buttom > span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }

        
@media screen and (max-width: 500px) {
    .hero-container {
        flex-wrap: wrap;
        height: 100%;
    } 

    .navbar h1 {
        font-size: 18px;
    }

    .nav p {
        font-size: 8px;
    }

    .hero-container > div {
        width: 100%;
        height: 200px;
    }

    .hero-container > img {
        display: none;
    }

    .hero-container h1 {
        font-size: 36px;
        text-align: center;
        width: 100%;
    }

    .hero-container p {
        font-size: 19px;
        text-align: center;
    }

    .content-container {
        grid-template-columns: 1fr;
    }

    .card img {
        height: 200px;
    }

    .footer-content h3 {
        font-size: 0.8rem;
    }


    }